<section>
  <div
    class="py-16 px-6 bg-position-center"
    style="background-image: url('thumbnail/hero2.png')"
  >
    <section
      class="max-w-screen-xl mx-auto flex flex-col lg:flex-row items-center justify-between"
    >
      <div class="max-w-xl text-center lg:text-left">
        <h1
          class="text-4xl md:text-5xl font-extrabold leading-tight text-gray-900"
        >
          FIND CLOTHES <br />
          THAT MATCHES <br />
          YOUR STYLE
        </h1>
        <p class="text-gray-600 mt-4">
          Browse through our diverse range of meticulously crafted garments,
          designed to bring out your individuality and cater to your sense of
          style.
        </p>
        <button
          class="mt-6 px-6 py-3 bg-black text-white font-semibold rounded-full hover:bg-gray-800"
        >
          Shop Now
        </button>

        <div
          class="mt-10 grid grid-cols-1 sm:grid-cols-3 gap-6 text-center lg:text-left"
        >
          <div>
            <p class="text-xl font-bold text-gray-900">200+</p>
            <p class="text-gray-600">International Brands</p>
          </div>
          <div>
            <p class="text-xl font-bold text-gray-900">2,000+</p>
            <p class="text-gray-600">High-Quality Products</p>
          </div>
          <div>
            <p class="text-xl font-bold text-gray-900">30,000+</p>
            <p class="text-gray-600">Happy Customers</p>
          </div>
        </div>
      </div>
    </section>
  </div>
  <div class="bg-black w-full py-6">
    <section
      class="max-w-screen-xl mx-auto flex flex-col lg:flex-row items-center justify-between bg-black"
    >
      @for (brand of brands; track $index) {
        <div class="">
          <img src="{{ brand.url }}" alt="{{ brand.alt }}" />
        </div>
      }
    </section>
  </div>
  <div class="max-w-[1280px] m-auto flex flex-col gap-5">
    <h1 class="text-[48px] uppercase font-extrabold text-center">
      New Arrivals
    </h1>
    <div class="flex justify-between items-center">
    @for (product of newProducts(); track $index) {
        <app-product [product]="product"></app-product>
    }
    </div>
    <div
      class="hover:bg-black hover:text-white transition-all font-bold py-4 px-14 rounded-4xl w-fit border border-black flex items-center text-center place-self-center"
    >
      <a href="/">View All</a>
    </div>
  </div>
  <div class="max-w-[1280px] m-auto flex flex-col gap-5">
    <h1 class="text-[48px] uppercase font-extrabold text-center">
      Best Products
    </h1>
    <div class="flex justify-between items-center">
      @for (product of bestProducts(); track $index) {
          <app-product [product]="product"></app-product>
      }
    </div>
    <div
      class="hover:bg-black hover:text-white transition-all font-bold py-4 px-14 rounded-4xl w-fit border border-black flex items-center text-center place-self-center"
    >
      <a routerLink="/products">View All</a>
    </div>
  </div>
  <div class="bg-gray-200 my-10 mx-auto w-[1280px] rounded-3xl">
    <h1 class="text-[48px] uppercase font-extrabold text-center">
      browse by dress style
    </h1>
    <div
      class="[&_div]:h-[250px] [&_div]:w-full m-auto w-[1280px] grid grid-cols-3 grid-rows-2 gap-4 [&_div]:bg-no-repeat [&_div]:bg-center [&_div]:bg-cover px-16 py-8 [&_div]:rounded-3xl [&_div]:px-5 [&_div]:py-10 [&_div]:text-black [&_div]:font-bold [&_div]:text-4xl"
    >
      <div class="col-span-2" style="background-image: url('{{ categories[0].image }}');">{{ categories[0].title }}</div>
      <div class="col-start-3" style="background-image: url('{{ categories[1].image }}');">{{ categories[1].title }}</div>
      <div class="row-start-2" style="background-image: url('{{ categories[2].image }}');">{{ categories[2].title }}</div>
      <div class="col-span-2 row-start-2" style="background-image: url('{{ categories[3].image }}');">{{ categories[3].title }}</div>
    </div>
  </div>
</section>
